<div class="bio-section row">
  <div class="avatar col-sm-3">
    <%= image_tag('daniel.jpg')%>
  </div>

  <div class="bio col-sm-9">
    <p class="bio-title">Meet Daniel Fischer</p>
    <p>Lebowski ipsum thankie… Just one thing, Dude. D'ya have to use s'many cuss words? Dolor sit amet, consectetur adipiscing elit praesent ac magna. That's fuckin' combat. The man in the black pyjamas, Dude. Worthy fuckin' adversary. Justo pellentesque ac lectus. You know, the usual. Bowl. Drive around. The occasional acid flashback. Quis elit blandit fringilla a ut. What the fuck are you talking about? I converted when I married Cynthia! Turpis praesent felis ligula, malesuada.</p>
  </div>
</div>

<div class="about-testimonial-section row">
  <p class="about-testimonial-section-title">See What Clients Have To Say About Fast Track Tutoring</p>
  <hr class="about-testimonial-section-title">

  <div class="about-testimonial-container col-xs-12 col-sm-10 col-sm-offset-1 col-md-6">
    <div class="testimonial-box">
      <blockquote class="testimonial"> <p>&nbsp; Daniel knows the SAT better than the test makers themselves.  He will teach you how to consistently predict and answer questions that seemed complex and arbitrary before.  He has developed the most effective methods for teaching each subject area.  He isn’t your average tutor.</p> </blockquote> <div class="about-arrow-down"></div> <p class="testimonial-author">Alex B. | <span>2340 SAT, 34 ACT</span></p>
    </div>
  </div>
  
  <div class="about-testimonial-container col-xs-12 col-sm-10 col-sm-offset-1 col-md-6">
    <div class="testimonial-box">
      <blockquote class="testimonial"> <p>&nbsp; Daniel knows the SAT better than the test makers themselves.  He will teach you how to consistently predict and answer questions that seemed complex and arbitrary before.  He has developed the most effective methods for teaching each subject area.  He isn’t your average tutor.</p> </blockquote> <div class="about-arrow-down"></div> <p class="testimonial-author">Alex B. | <span>2340 SAT, 34 ACT</span></p>
    </div>
  </div>

  <div class="about-testimonial-container col-xs-12 col-sm-10 col-sm-offset-1 col-md-6">
    <div class="testimonial-box">
      <blockquote class="testimonial"> <p>&nbsp; Daniel knows the SAT better than the test makers themselves.  He will teach you how to consistently predict and answer questions that seemed complex and arbitrary before.  He has developed the most effective methods for teaching each subject area.  He isn’t your average tutor.</p> </blockquote> <div class="about-arrow-down"></div> <p class="testimonial-author">Alex B. | <span>2340 SAT, 34 ACT</span></p>
    </div>
  </div>
  
  <div class="about-testimonial-container col-xs-12 col-sm-10 col-sm-offset-1 col-md-6">
    <div class="testimonial-box">
      <blockquote class="testimonial"> <p>&nbsp; Daniel knows the SAT better than the test makers themselves.  He will teach you how to consistently predict and answer questions that seemed complex and arbitrary before.  He has developed the most effective methods for teaching each subject area.  He isn’t your average tutor.</p> </blockquote> <div class="about-arrow-down"></div> <p class="testimonial-author">Alex B. | <span>2340 SAT, 34 ACT</span></p>
    </div>
  </div>

  <div class="about-testimonial-container col-xs-12 col-sm-10 col-sm-offset-1 col-md-6">
    <div class="testimonial-box">
      <blockquote class="testimonial"> <p>&nbsp; Daniel knows the SAT better than the test makers themselves.  He will teach you how to consistently predict and answer questions that seemed complex and arbitrary before.  He has developed the most effective methods for teaching each subject area.  He isn’t your average tutor.</p> </blockquote> <div class="about-arrow-down"></div> <p class="testimonial-author">Alex B. | <span>2340 SAT, 34 ACT</span></p>
    </div>
  </div>
  
  <div class="about-testimonial-container col-xs-12 col-sm-10 col-sm-offset-1 col-md-6">
    <div class="testimonial-box">
      <blockquote class="testimonial"> <p>&nbsp; Daniel knows the SAT better than the test makers themselves.  He will teach you how to consistently predict and answer questions that seemed complex and arbitrary before.  He has developed the most effective methods for teaching each subject area.  He isn’t your average tutor.</p> </blockquote> <div class="about-arrow-down"></div> <p class="testimonial-author">Alex B. | <span>2340 SAT, 34 ACT</span></p>
    </div>
  </div>

  <div class="about-testimonial-container col-xs-12 col-sm-10 col-sm-offset-1 col-md-6">
    <div class="testimonial-box">
      <blockquote class="testimonial"> <p>&nbsp; Daniel knows the SAT better than the test makers themselves.  He will teach you how to consistently predict and answer questions that seemed complex and arbitrary before.  He has developed the most effective methods for teaching each subject area.  He isn’t your average tutor.</p> </blockquote> <div class="about-arrow-down"></div> <p class="testimonial-author">Alex B. | <span>2340 SAT, 34 ACT</span></p>
    </div>
  </div>
  
  <div class="about-testimonial-container col-xs-12 col-sm-10 col-sm-offset-1 col-md-6">
    <div class="testimonial-box">
      <blockquote class="testimonial"> <p>&nbsp; Daniel knows the SAT better than the test makers themselves.  He will teach you how to consistently predict and answer questions that seemed complex and arbitrary before.  He has developed the most effective methods for teaching each subject area.  He isn’t your average tutor.</p> </blockquote> <div class="about-arrow-down"></div> <p class="testimonial-author">Alex B. | <span>2340 SAT, 34 ACT</span></p>
    </div>
  </div>

</div>