<div class="bio-section row">
  <div class="avatar col-sm-4">
    <%= image_tag('daniel.jpg')%>
  </div>

  <div class="bio col-sm-8">
    <p class="bio-title">Meet Daniel Fischer</p>
    <p>Daniel's central philosophy is to put the "Standard" back into Standardized Testing.  His curriculum is based on extensive research on each test, and is designed to customize each student's exact strengths and weaknesses.</p>
    <p>Some career highlights:</p>
    <ul class="biolist">
      <li>Graduate of Cornell University</li>
      <li>Curriculum Developer, Elite Tutor and Tutor Trainer for Kaplan Test Prep.</li>
      <li>Writer and host of "Mastering the SAT", an On-Demand cable series that ran for a year on television.</li>
      <li>Founder of F.A.S.T. Track Tutoring, through which Daniel has been able to help many students achieve their goals, improve their confidence, and demystify the test prep process.</li>
    </ul>
  </div>
</div>

<div class="about-testimonial-section row">
  <p class="about-testimonial-section-title">See What Clients Have To Say About Fast Track Tutoring</p>
  <hr class="about-testimonial-section-title">

  <div class="about-testimonial-container col-xs-12 col-sm-10 col-sm-offset-1 col-md-6">
    <div class="testimonial-box">
      <blockquote class="testimonial"> <p>&nbsp; Daniel knows the SAT better than the test makers themselves.  He will teach you how to consistently predict and answer questions that seemed complex and arbitrary before.  He has developed the most effective methods for teaching each subject area.  He isn’t your average tutor.</p> </blockquote> <div class="about-arrow-down"></div> <p class="testimonial-author">Alex B. | <span>2340 SAT, 34 ACT</span></p>
    </div>
  </div>
  
  <div class="about-testimonial-container col-xs-12 col-sm-10 col-sm-offset-1 col-md-6">
    <div class="testimonial-box">
      <blockquote class="testimonial"> <p>&nbsp; I cannot say enough good things about Daniel.  He is organized, smart, patient, a great teacher, mentor and role model.  Daniel brings wonderful skills to the job, not only a great gift for teaching but, also an exuberant and engaging way to relating my son. He followed up with him throughout the college process and acceptances, as he is personally invested in their success.</p> </blockquote> <div class="about-arrow-down"></div> <p class="testimonial-author">Kathy | East Atlantic Beach, N.Y.</p>
    </div>
  </div>

  <div class="about-testimonial-container col-xs-12 col-sm-10 col-sm-offset-1 col-md-6">
    <div class="testimonial-box">
      <blockquote class="testimonial"> <p>&nbsp; Before meeting Daniel, my son Alex was very skeptical about having a tutor.  Daniel taught him new strategies on how to go about the test that he was not taught at school.  Because of his commitment to my son, Alex got into many colleges and is going to the University of his choice!  I definitely recommend Daniel and will certainly be using him for my next son!</p> </blockquote> <div class="about-arrow-down"></div> <p class="testimonial-author">J.F. | Rockville Centre, N.Y.</p>
    </div>
  </div>
  
  <div class="about-testimonial-container col-xs-12 col-sm-10 col-sm-offset-1 col-md-6">
    <div class="testimonial-box">
      <blockquote class="testimonial"> <p>&nbsp; When I started with Daniel, I had very little knowledge about the SAT.  During my time with him, he taught me the most efficient way to be successful on this test, especially with the tips and tricks he reveals to you along the way.  Daniel’s teaching skills combined with an honest effort on my part tuned into awesome scores that helped me get into my #1 dream school.  I could not have done it without him.</p> </blockquote> <div class="about-arrow-down"></div> <p class="testimonial-author">Anonymous | <span>1580 SAT Up To 1980!</span></p>
    </div>
  </div>

  <div class="about-testimonial-container col-xs-12 col-sm-10 col-sm-offset-1 col-md-6">
    <div class="testimonial-box">
      <blockquote class="testimonial"> <p>&nbsp; Daniel’s superior tutoring techniques allowed him to assess my strengths and weaknesses, and focus on my specific issues.  After working with Daniel, I was able to increase the test with confidence, and increased my score 250 points.</p> </blockquote> <div class="about-arrow-down"></div> <p class="testimonial-author">Franz | Long Beach, N.Y. <span>1930 SAT To 2180!</span></p>
    </div>
  </div>
  
  <div class="about-testimonial-container col-xs-12 col-sm-10 col-sm-offset-1 col-md-6">
    <div class="testimonial-box">
      <blockquote class="testimonial"> <p>&nbsp; Daniel has mastered the illusion that is the standardized test.  He is able to educate the student on how to divide, conquer and achieve.  My daughter’s ACT score went from a 23 to a 31 with all the information she learned from Daniel!</p> </blockquote> <div class="about-arrow-down"></div> <p class="testimonial-author">Anonymous | <span>23 ACT to 31 ACT</span></p>
    </div>
  </div>

  <div class="about-testimonial-container col-xs-12 col-sm-10 col-sm-offset-1 col-md-6">
    <div class="testimonial-box">
      <blockquote class="testimonial"> <p>&nbsp; Daniel is an exceptional tutor.  Having Daniel tutor my children was by far the best investment for their acceptance into a top university.  With the help of Daniel, my daughter is currently attending Villanova University.   My son increased his score over 200 points which will open doors to many of his top college choices.  Daniel's knowledge of the SAT and strategies to approach the exam are brilliant. His process allows the ability to evaluate the student and personalize the tutoring to their specific needs.  I could not have been happier.  Daniel was a  pleasure to work with and his knowledge of the SAT is impressive. I highly recommend Daniel.  He is a master tutor.</p> </blockquote> <div class="about-arrow-down"></div> <p class="testimonial-author">Anonymous | <span>SAT increased 200 points!</span></p>
    </div>
  </div>

  <div class="about-testimonial-container col-xs-12 col-sm-10 col-sm-offset-1 col-md-6">
    <div class="testimonial-box">
      <blockquote class="testimonial"> <p>&nbsp; Working with Daniel did wonders for me.  With his help reviewing grammar rules and practicing math problems week in week out, I was able to increase my score by 300 points.  I highly recommend Daniel for any junior/senior planning to take the SAT or ACT.</p> </blockquote> <div class="about-arrow-down"></div> <p class="testimonial-author">Liam | Rockville Centre, N.Y.<span>SAT increased from 1920 to 2220!!!</span></p>
    </div>
  </div>

  <div class="about-testimonial-container col-xs-12 col-sm-10 col-sm-offset-1 col-md-6">
    <div class="testimonial-box">
      <blockquote class="testimonial"> <p>&nbsp; Daniel Fischer confidently shepherds his students through the standardized test prep maze. From first meeting to the arrival of test results, Daniel’s absolute command of the subject matter allows him to tailor his customized approach individually to each test-taker. Daniel teaches each student the way that student learns. The resulting confidence cannot be measured simply in scores, but in peace of mind as well.</p> </blockquote> <div class="about-arrow-down"></div> <p class="testimonial-author">J.A. | Rockville Centre, N.Y.</p>
    </div>
  </div>

</div>