<div class="home-container">
  <div class="row welcome_section">
  	<div class="outer-wrapper">
  		<div class="inner-wrapper">
	    	<div class="welcome-box">
	    		<div class="welcome-box-header">
		      	<h3 class="emphasis">Welcome To F.A.S.T. Track Tutoring!</h3>
		      </div>	

		      <% if user_signed_in? %>
		        <div class="welcome-box-content">Now registering for spring lessons!</div>
		     	<% else %>
		       <p>
		         <%= link_to "Click Here To Email F.A.S.T Track Tutoring", "mailto:info@fasttracktutoringllc.com", class: "btn btn-primary" %>
		       </p>

		       <%= link_to "Sign Up", new_user_registration_path %>
		  		<% end %>  
		  	</div>		
		  </div>	
	  </div>	
	</div>

	<!-- Testimonial Section below -->

	<div class="testimonial-section">
		<div class="testimonial-box col-sm-5">
			<blockquote class="testimonial"> <p>My kids loved working with Daniel. He's the best! They were sooo dumb before the FastTrack tutoring.</p> </blockquote> <div class="arrow-down"></div> <p class="testimonial-author">Jane | <span>Rockville Centre, N.Y.</span></p>
		</div>

		<div class="testimonial-box col-sm-5 col-sm-offset-1">
			<blockquote class="testimonial"> <p>We had tried other tutors in the past, but Daniel is the first one to get results!</p> </blockquote> <div class="arrow-down"></div> <p class="testimonial-author">Alexander | <span>Oceanside, N.Y.</span></p>
		</div>
	</div>

	<div class="row">
		<div class="next-section">
			<div class="col-lg-4 col-md-4 item">
				<div class="item-inner">
					<h3>Upcoming Test Dates</h3>

					<ul class="home-list">
						<li>SAT: 1/1/15</li>
						<li>ACT: 1/1/15</li>
						<li>PSAT: 1/1/15</li>
					</ul>	
				</div>	
			</div>	

			<div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 item">
				<div class="item-inner">
					<h2 id="test_status"></h2>
	    		<div id="test"></div>
				</div>	
			</div>
					
		</div>	
	</div>	
</div>	