<div class="home-container">
  <div class="row welcome_section">
  	<div class="outer-wrapper">
  		<div class="inner-wrapper">
	    	
	    	<div class="welcome-box">
	    		<div class="welcome-box-header">
		      	<p>Welcome To</p> 
		      	<p>F.A.S.T. Track Tutoring!</p>
		      </div>	

		        <div class="welcome-box-content">
							
							<h3>Personal One On One Lessons For The</h3>
							<h3>S.A.T. & A.C.T.</h3>
		        	
		        	<h3>Now registering for spring lessons!</h3>
						
							<h4>Call or email Daniel today!</h4>

		      		<h4>T: 516-376-0469 | <%= mail_to "info@fasttracktutoringllc.com" do %>
		      			<i class="fa fa-envelope-o fa-1x"></i> Email Us!
		      			<% end %></h4>
					</div>
		  	</div>		
		  </div>	
	  </div>	
	</div>

	<!-- Testimonial Section below -->

	<div class="testimonial-section row">
		
		<div class="testimonial-container col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1">
			<div class="testimonial-box">
				<blockquote class="testimonial"> <p>Daniel knows the SAT better than the test makers themselves.  He will teach you how to consistently predict and answer questions that seemed complex and arbitrary before.  He has developed the most effective methods for teaching each subject area.  He isn’t your average tutor.</p> </blockquote> <div class="arrow-down"></div> <p class="testimonial-author">Alex B. | <span>2340 SAT, 34 ACT</span></p>
			</div>
		</div>	

		<div class="testimonial-container col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0">
			<div class="testimonial-box">
				<blockquote class="testimonial"> <p>I cannot say enough good things about Daniel.  He is organized, smart, patient, a great teacher, mentor, and role model.  Daniel brings wonderful skills to the job, not only a great gift for teaching but, also an exuberant and engaging way to relating my son. He followed up with him throughout the college process and acceptances, as he is personally invested in their success.</p> </blockquote> <div class="arrow-down"></div> <p class="testimonial-author">Kathy | <span>East Atlantic Beach, N.Y.</span></p>
			</div>
		</div>	
	</div>

	<div class="row">
		<div class="next-section">
			<div class="col-lg-4 col-md-4 item">
				<div class="item-inner">
					<h3>Upcoming Test Dates</h3>

					<ul class="home-list">
						<li>SAT: 1/1/15</li>
						<li>ACT: 1/1/15</li>
						<li>PSAT: 1/1/15</li>
					</ul>	
				</div>	
			</div>	

			<div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 item">
				<div class="item-inner">
					<h2 id="test_status"></h2>
	    		<div id="test"></div>
				</div>	
			</div>
					
		</div>	
	</div>	
</div>	