<div class="row welcome_section">
  <div class="container">
    <div class="col-sm-12">
    	<div class="welcome_text">
	      <h3 class="emphasis">Welcome!</h3>
	      <p class="landing-divider-subtitle">This is the home of Fast Track Tutoring LLC.</p>

	      <% if user_signed_in? %>
	          # do something
	     	<% else %>
	       <p>
	         <%= link_to "Click Here To Email F.A.S.T Track Tutoring", "mailto:info@fasttracktutoringllc.com", class: "btn btn-primary" %>
	       </p>

	       <%= link_to "Sign Up", new_user_registration_path %>
	  		<% end %>  
	  	</div>	
    </div>
  </div>
</div>

<!-- Testimonial Section below -->

<div class="testimonial-section col-sm-12">
	<div class="col-sm-6">
		<blockquote class="testimonial"> <p>My kids loved working with Daniel. He's the best! They were sooo dumb before the FastTrack tutoring.</p> </blockquote> <div class="arrow-down"></div> <p class="testimonial-author">Jane | <span>Rockville Centre, N.Y.</span></p>
	</div>

	<div class="col-sm-6">
		<blockquote class="testimonial"> <p>We had tried other tutors in the past, but Daniel is the first one to get results!</p> </blockquote> <div class="arrow-down"></div> <p class="testimonial-author">Alexander | <span>Oceanside, N.Y.</span></p>
	</div>
</div>	

<div class="col-sm-12 next-section">
	<div class="item col-sm-3">
		<h3>Stuff</h3>
	</div>	

	<div class="item col-sm-3">
		<h3>Stuff</h3>
	</div>
		
	<div class="item col-sm-3">
		<h3>Stuff</h3>
	</div>	

</div>	