/* iPhone 5 */
@media (max-width: 320px) {
  
  p.about-testimonial-section-title {
    color: black;
    font-variant: small-caps;
    font-size: 3.5rem;
    padding: 0% 2%;
    margin: 3% 1% auto;
  }

  .bio {
    padding: 0% 7%;
  }

  .footer {
    padding: 0;
  }

  .footer p {
    margin: 1% 6%;
  }

  .footer_list {
    float: none;
    font-size: 1.7rem;
    text-align: center;
  }

  .footer_info {
    float: none;
    font-size: 2rem;
    text-align: center;
  }

  .header_container {
    padding-left: 3%;
  }

  .inner-wrapper{
    width: 77%;
  }
  
  .item {
    padding: 1px;
    margin-top: 2% !important;
  }

  h3.item-heading {
    font-size: 2rem;
  }

  h3.item-heading-test {
    margin-top: 23%;
    font-size: 2rem;
  }

  .logo {
    margin: 5% 0;
    font-size: 1.8rem;
  }
  
  .logo a {
    font-size: 1.9rem;
  }

  .testimonial {
    padding: 4% 13%;
  }

  .testimonial-section {
    padding: 5% 8%;
  }

  .testimonial-box {
    margin: 10px auto;
  }

  p.testimonial-section-title {
    font-size: 3.3rem;
  }

  .welcome-box-content {
    margin: 5%;
  }

  .welcome-box-content h3 {
    font-size: 2rem;
  }

  .welcome-box-content h4 {
    font-size: 1.7rem;
  }

  .welcome-box-header p {
    font-size: 2rem;
  }
}

/* ex. iPhone 6 */
@media (min-width: 321px ) AND (max-width: 640px) {
  
  p.about-testimonial-section-title {
    color: black;
    font-variant: small-caps;
    font-size: 3.5rem;
    padding: 0% 2%;
    margin: 3% 1% auto;
  }

  .bio {
    padding: 0% 7%;
  }

  .footer {
    padding: 0;
  }

  .footer_list {
    float: none;
    font-size: 1.7rem;
    text-align: center;
  }

  .footer_info {
    float: none;
    font-size: 2rem;
    text-align: center;
  }

  .header_container {
    padding: 0 2% 0 6%;
  }

  .inner-wrapper {
    width: 85%;
  }

  .item {
    padding: 1px;
  }

  h3.item-heading {
    font-size: 22px;
  }

  h3.item-heading-test {
    margin-top: 24%;
    font-size: 2rem;
  }

 .logo {
    margin: 5% 0;
    font-size: 2.1rem;
  }

  .logo a {
    font-size: 2.1rem;
  }

  .next-section {
    padding: 0 7%;
  }

  .testimonial-box {
    max-width: 345px;
    margin: 10px auto;
  }

  .testimonial-section {
    padding: 5% 8%;
  }

  .testimonial-section {
    padding: 0%;
  }

  .welcome-box-content {
    margin: 4%;
  }
}

@media only screen and (min-width: 40.0625em) {

}

/* ex. iPhone 6 landscape */

@media(max-width: 667px) and (orientation: landscape) {
  .footer p {
    margin: 1% 6%;
  }

  .footer_list {
    float: none;
    font-size: 1.7rem;
    text-align: center;
  }

  .footer_info {
    float: none;
    font-size: 2rem;
    text-align: center;
  }

  .inner-wrapper {
    width: 75%;
  }

  .testimonial-box {
    max-width: 425px;
    margin: 2% auto;
  }
}


@media (max-width:767px) {
  .nav_clear {
    clear:both;
  }
  
  .session-list {
    background-color: white;
    margin-left: 0px;
  }
  .testimonial-box {
    height: auto;
    max-width: 370px;
    padding: 10px;
    margin: 0 0 10px 0px;
  }

  .testimonial-section {
    text-align: center;
    height: auto;
    width: auto;
    overflow: hidden;
  }

  .welcome-box-header {
    height: auto;
    padding: 6px 0 6px 0;
    color: white;
  }
}

/* ex. iPads */

@media (max-width: 989px) {
  .about-testimonial-container {
    margin-left: 8.3333%;
  }

  .box2 {
    margin-left: 2%;
  }

  .footer {
    text-align: center;
  }

  .footer_list {
    float: none;
  }

  .item {
    margin-top: 45px;
  }
  
  .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
  }
  
  .next-section {
    padding: 0 7%;
    margin-bottom: 40px;
  }
  
  .testimonial-box {
    margin: 10px auto;
  }

  .testimonial-section {
    padding-bottom: 8%;
  }
}