/* iPhone 5 */
@media (max-width: 320px) {
  .footer p {
    margin: 1% 6%;
  }

  .footer_list {
    float: none;
    font-size: 1.7rem;
    text-align: center;
  }

  .footer_info {
    float: none;
    font-size: 2rem;
    text-align: center;
  }

  .header_container {
    padding-left: 30px;
  }

  .inner-wrapper{
    width: 77%;
  }
  
  .logo {
    margin: 5% 0;
    font-size: 1.8rem;
  }

  .testimonial-section {
    padding: 5% 8%;
  }

  .welcome-box-content {
    margin: 5%;
  }

  .welcome-box-content h3 {
    font-size: 2rem;
  }

  .welcome-box-content h4 {
    font-size: 1.8rem;
  }

  .welcome-box-header p {
    font-size: 2rem;
  }
}

/* ex. iPhone 6 */
@media (min-width: 321px ) AND (max-width: 640px) {
  .footer_list {
    float: none;
    font-size: 1.7rem;
    text-align: center;
  }

  .footer_info {
    float: none;
    font-size: 2rem;
    text-align: center;
  }

  .header_container {
    padding: 0 2% 0 6%;
  }

  .inner-wrapper {
    width: 85%;
  }

 .logo {
  margin: 5% 0;
  font-size: 2.1rem;
  }

  .next-section {
    padding: 0 7%;
  }

  .testimonial-box {
    max-width: 345px;
  }

  .testimonial-section {
    padding: 5% 8%;
  }

  .welcome-box-content {
    margin: 4%;
  }
}

@media only screen and (min-width: 40.0625em) {

}

/* ex. iPhone 6 landscape */

@media(max-width: 667px) and (orientation: landscape) {
  .footer p {
    margin: 1% 6%;
  }

  .footer_list {
    float: none;
    font-size: 1.7rem;
    text-align: center;
  }

  .footer_info {
    float: none;
    font-size: 2rem;
    text-align: center;
  }

  .inner-wrapper {
    width: 75%;
  }
  
  .testimonial-section {
    margin: 0% 8%;
    padding: 0;
  }

  .testimonial-box {
    max-width: 425px;
    margin: 2% auto;
  }
}

/* ex. iPads */

@media (max-width: 989px) {
  .footer {
    text-align: center;
  }

  .footer_list {
    float: none;
  }

  .item {
    margin-top: 45px;
  }
  
  .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
  }
  .next-section {
    padding: 0 7%;
    margin-bottom: 40px;
  }
}