<div class="footer row">
	<ul class="col-lg-8 footer_info">
    <li>Daniel Fischer</li>
    <li>Educator</li>
		<li><%= link_to "Email F.A.S.T Track Tutoring", "mailto:info@fasttracktutoringllc.com", class:"btn btn-primary" %></li>
	</ul>	

	<div class="col-lg-4 footer_list">
	 <p class="copywrite">&copy; 2014 Fast Track Tutoring, LLC.</p>
	</div>

<!-- Copyright -->

  <div id="copyright" class="col-lg-12">
    <div>
      Website Built By: <a href="http://twitter.com/tambe257" target="_Blank">Tambe257</a> | <a href="mailto:tambe257@gmail.com">E-Mail</a>
    </div>
  </div>	

</div>   
