<div class="footer row">
	<ul class="col-lg-8 footer_info">
    <li>Daniel Fischer - Founder</li>
    <li>T: 516-376-0469</li>
    <li> <%= link_to image_tag("Email_Icon.png"), "mailto:info@fasttracktutoringllc.com" %> info@fasttracktutoringllc.com</li>
	</ul>	

	<div class="col-lg-4 footer_list">
	 <p class="copywrite">&copy; 2014 Fast Track Tutoring, LLC.</p>
	</div>

<!-- Copyright -->

  <div id="copyright" class="col-sm-12">
    <div>
      Website Built By: <a href="http://twitter.com/tambe257" target="_Blank">Tambe257</a> | <a href="mailto:tambe257@gmail.com">E-Mail</a>
    </div>
  </div>	

</div>   
