<div class="footer">	
	<div class="footer_info1">
		<hr>
		<ul class="footer_list">
			<li> - <%= link_to "Click to sign up for our newsletter!", "#" %></li>
			<li> - <%= link_to "Click to like our facebook page!", "#" %></li>
			<li> - Something else...</li>
		</ul>
	</div>

	<div class="footer_info2">
		<%= link_to "Click Here To Email F.A.S.T Track Tutoring", "mailto:info@fasttracktutoringllc.com", class: "right" %>
	</div>	

	<div class="footer_info3">
		<h3>More stuff, more stuff, more stuff</h3>
	</div>	
</div>		