<div class="footer">	
	<ul class="footer_info">
		<li><%= link_to "Email F.A.S.T Track Tutoring", "mailto:info@fasttracktutoringllc.com", class:"btn btn-primary" %></li>
	</ul>	

	<ul class="footer_list">
		<li> <p class="copywrite">&copy; 2014 Fast Track Tutoring, LLC.</p></li>
	</ul>
</div>

<!-- Copyright -->
<div id="copyright">
  <div>
    Website Built By: <a href="http://twitter.com/tambe257" target="_Blank">Tambe257</a> | <a href="mailto:tambe257@gmail.com">E-Mail</a>
  </div>
</div>		