<div class="footer row">
	<div class="col-lg-8 col-md-6 footer_info"> 
    <%= mail_to "info@fasttracktutoringllc.com" do %>
      <i class="fa fa-envelope-o fa-1x"></i> Email Us!
    <% end %>
	</div>	

	<div class="col-lg-4 col-md-4 footer_list">
	 &copy; 2014 Fast Track Tutoring, LLC.
	</div>
</div>

<!-- Copyright -->

<div class="row">
  <div id="copyright" class="col-sm-12">
    <div>
      Website Built By: <a href="http://tonytambe.com" target="_Blank">Tambe257</a> | <a href="mailto:tambe257@gmail.com">E-Mail</a>
    </div>
  </div>	
</div>
   
